<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bomb001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{280,40}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>bomb.png</string>
			<key>textureFileName</key>
			<string>bomb</string>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
