<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sugorillaman_front001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_front002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40,0},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_front003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80,0},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_back001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120,0},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_back002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160,0},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_back003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200,0},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_left002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40,46},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_left003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80,46},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_right001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120,46},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_right002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160,46},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_right003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200,46},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_damage001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,92},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_damage002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40,92},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_damage003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{80,92},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_damage004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120,92},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_damage005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160,92},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_damage006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200,92},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_idle001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,138},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sugorillaman_idle002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40,138},{40,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256,256}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>sugorillaman.png</string>
			<key>textureFileName</key>
			<string>sugorillaman</string>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
